<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:insert="~{fragments/general.html :: head}"></th:block>
    <title>Legislators</title>
  </head>
  <body>
    <th:block th:insert="~{fragments/general.html :: nav}"></th:block>
    <header class="container-fluid">
      <div class="d-flex justify-content-between">
        <div>
          <h1>Legislators</h1>
        </div>
        <div>
          <a
            href="/legislators/new"
            aria-label="Create a new Legislator record"
          >
            <span
              class="fa fa-plus"
              style="font-size: 48px; color: black"
              data-toggle="tooltip"
              data-placement="right"
              title="Create a new Legislator record"
            >
            </span>
          </a>
        </div>
      </div>
      <div
        th:if="${newId != null}"
        id="banner"
        class="alert alert-success alert-dismissible fade show"
        role="alert"
      >
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
        <div id="banner-message">
          Created new Legislator record with
          <a th:href="${'#' + newId}"
            ><span th:text="${'ID ' + newId }"></span></a
          >.
        </div>
      </div>
    </header>
    <main class="container-fluid">
      <table class="table table-striped table-bordered m1">
        <thead>
          <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Hometown</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="legislator: ${legislators}">
            <td th:id="${legislator.getId()}" th:text="${legislator.getId()}" />
            <td th:text="${legislator.getFirstName()}" />
            <td th:text="${legislator.getLastName()}" />
            <td th:text="${legislator.getHometown()}" />
          </tr>
        </tbody>
      </table>
    </main>
  </body>
</html>
