<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:insert="~{fragments/general.html :: head}"></th:block>
    <title>Create a new Legislation record</title>
  </head>
  <body>
    <th:block th:insert="~{fragments/general.html :: nav}"></th:block>
    <main class="container-fluid">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-5">
          <h1>Create a new Legislation record</h1>
          <p>Title and Text are required.</p>
          <form
            method="POST"
            action="#"
            class="needs-validation"
            novalidate
            th:action="@{/legislation}"
            th:object="${legislationDto}"
          >
            <label for="title" class="form-label">Title:</label>
            <div class="input-group has-validation">
              <input
                required
                type="text"
                id="title"
                name="title"
                autofocus
                th:class="form-control + (${bindingResult != null && bindingResult.getFieldErrorCount('title') > 0} ? ' is-invalid' : '')"
                th:field="*{title}"
                aria-describedby="titleFeedback"
              />
              <div id="titleFeedback" class="invalid-feedback">
                Title is required.
              </div>
            </div>
            <label for="text">Text:</label>
            <div class="input-group has-validation">
              <textarea
                class="form-control"
                required
                id="text"
                name="text"
                th:class="form-control + (${bindingResult != null && bindingResult.getFieldErrorCount('text') > 0} ? ' is-invalid' : '')"
                th:field="*{text}"
                aria-describedby="textFeedback"
              ></textarea>
              <div id="textFeedback" class="invalid-feedback">
                Text is required.
              </div>
            </div>
            <div>
              <label for="sponsors">Sponsors:</label>
              <select
                class="form-control"
                id="sponsors"
                name="sponsors"
                multiple
              >
                <option
                  th:each="sponsor: ${sponsors}"
                  th:value="${sponsor.getId()}"
                  th:text="${sponsor.getFullName()}"
                />
              </select>
            </div>
            <div class="text-right">
              <button id="submit" type="submit" class="btn btn-dark">
                Create
              </button>
            </div>
          </form>
        </div>
      </div>
    </main>
    <script src="/validateRequiredInputs.js"></script>
  </body>
</html>
