<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:insert="~{fragments/general.html :: head}"></th:block>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Legislation</title>
  </head>
  <body class="container-fluid">
    <div class="d-flex justify-content-between">
      <div>
        <h1>Legislation</h1>
      </div>
      <div>
        <a href="/legislation/new" aria-label="Create a new Legislation record">
          <i
            class="fa fa-plus-circle"
            style="font-size: 48px; color: black"
            data-toggle="tooltip"
            data-placement="right"
            title="Create a new Legislation record"
          >
          </i>
        </a>
      </div>
    </div>
    <main>
      <table class="table table-striped table-bordered m1">
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Text</th>
            <th>Sponsors</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="bill: ${legislation}">
            <td th:id="${bill.getId()}" th:text="${bill.getId()}" />
            <td th:text="${bill.getTitle()}" />
            <td th:text="${bill.getText()}" />
            <td>
              <span th:each="sponsor: ${bill.getSponsors()}">
                <span
                  th:unless="${sponsor == bill.getSponsors().getLast()}"
                  th:text="${sponsor.getFullName() + ', '}"
                />
                <span
                  th:if="${sponsor == bill.getSponsors().getLast()}"
                  th:text="${sponsor.getFullName()}"
                />
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </main>
  </body>
</html>
