<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:insert="~{fragments/general.html :: head}"></th:block>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Legislators</title>
  </head>
  <body class="container-fluid">
    <header>
      <div class="d-flex justify-content-between">
        <div>
          <h1>Legislators</h1>
        </div>
        <div>
          <a
            href="/legislators/new"
            aria-label="Create a new Legislator record"
          >
            <i
              class="fa fa-plus-circle"
              style="font-size: 48px; color: black"
              data-toggle="tooltip"
              data-placement="right"
              title="Create a new Legislator record"
            >
            </i>
          </a>
        </div>
      </div>
    </header>
    <main>
      <table class="table table-striped table-bordered m1">
        <thead>
          <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Hometown</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="legislator: ${legislators}">
            <td
              th:unless="${newId.compareTo(legislator.getId()) == 0}"
              th:id="${legislator.getId()}"
              th:text="${legislator.getId()}"
            />
            <td
              th:if="${newId.compareTo(legislator.getId()) == 0}"
              th:id="${legislator.getId()}"
              th:text="${legislator.getId()}"
              th:class="table-info"
            />
            <td th:text="${legislator.getFirstName()}" />
            <td th:text="${legislator.getLastName()}" />
            <td th:text="${legislator.getHometown()}" />
          </tr>
        </tbody>
      </table>
    </main>
  </body>
</html>
